<div class="row ptl">
  <div class="sixteen columns center center-text">
  <a href="https://twitter.com/weareredstars" target="_blank" title="Tweet"><%= image_tag 'twitter_icon', class: '', height: 100, width: 100 %></a>
  <a href="https://www.facebook.com/weareredstars/" title="Share on Facebook" target="_blank"><%= image_tag 'fb_icon', class: '', height: 100, width: 100 %></a>
  <a href="https://www.instagram.com/the_red_stars/?hl=en" title="Share on Instagram" target="_blank"><%= image_tag 'instagram_icon', class: '', height: 100, width: 100 %></a>
  </div>
</div>