<div class="row ptl">
  <div class="sixteen columns center center-text">
  <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fhttp://www.weareredstars.com/&text=We%20Are%20Red%20Stars%20http%3A%2F%2Fwww.weareredstars.com&via=weareredstars" target="_blank" title="Tweet"><%= image_tag 'twitter_icon', class: '', height: 100, width: 100 %></a>
  <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.weareredstars.com&t=We%20Are%20Red%20Stars" title="Share on Facebook" target="_blank"><%= image_tag 'fb_icon', class: '', height: 100, width: 100 %></a>
  <a href="https://www.instagram.com/the_red_stars/?hl=engi" title="Share on Instagram" target="_blank"><%= image_tag 'instagram_icon', class: '', height: 100, width: 100 %></a>
  </div>
</div>