<div class="container">
  <div class="row">
    <div class="column centre pth">
      <a class="button large-text ptl" href="#join-modal" rel="modal:open">Join W. A. R. S.</a>
    </div>
  </div>
</div>
