<div class="flex-container" id="main-container" style="display:none">
  <div class="border-wrapper">
    <div class="flex-item">
      <%= image_tag('date_grey_2x', class: "date") %>
    </div>
    <div class="flex-item">
      <div class="clock"></div>
    </div>
  </div>

  <div class="flex-item">
    <a class="button stencil-font large-text" href="#join-modal" rel="modal:open">Join W.A.R.S.</a>
  </div>
</div>

<div class="modal" id="join-modal" style="display:none;">
  <p>Thanks for clicking.  That felt good.  <br />Click <a href="#" rel="modal:close">close</a>, click the overlay, or press ESC</p>
</div>