<!-- <!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WARS - We Are Red Stars</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <!-- <link rel="stylesheet" href="styles/main.css"> -->
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <!-- <script src="/bower_components/modernizr/modernizr.js"></script> -->
    <!-- endbuild -->
     <!-- <script src="//load.sumome.com/" data-sumo-site-id="e60fb986dc97b6bd79734812585456770518f3911ff9a73f697b6e22609cc630" async="async"></script> -->
  <!-- </head> -->
  <!-- <body> -->
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="flex-container" id="main-container" style="display:none">
      <div class="border-wrapper">
        <div class="flex-item">
          <!-- <div class="date">
            <div class="_digits">
              <div class="each seconds">
                <div class="real-number digit seconds_0 two"><span class="side d1"></span><span class="side d2"></span><span class="side d3"></span><span class="side d4"></span><span class="side d5"></span><span class="side d6"></span><span class="side d7"></span></div>
                <div class="real-number digit seconds_0 two"><span class="side d1"></span><span class="side d2"></span><span class="side d3"></span><span class="side d4"></span><span class="side d5"></span><span class="side d6"></span><span class="side d7"></span></div>
                <div class="colon digit seconds_9"><span class="colon">.</span></div>

                <div class="real-number digit seconds_0 zero"><span class="side d1"></span><span class="side d2"></span><span class="side d3"></span><span class="side d4"></span><span class="side d5"></span><span class="side d6"></span><span class="side d7"></span></div>


                 <div class="real-number digit seconds_0 nine"><span class="side d1"></span><span class="side d2"></span><span class="side d3"></span><span class="side d4"></span><span class="side d5"></span><span class="side d6"></span><span class="side d7"></span></div>

                 <div class="colon digit seconds_9"><span class="colon">.</span></div>

                  <div class="real-number digit seconds_0 one"><span class="side d1"></span><span class="side d2"></span><span class="side d3"></span><span class="side d4"></span><span class="side d5"></span><span class="side d6"></span><span class="side d7"></span></div>

                   <div class="real-number digit seconds_0 six"><span class="side d1"></span><span class="side d2"></span><span class="side d3"></span><span class="side d4"></span><span class="side d5"></span><span class="side d6"></span><span class="side d7"></span></div>

              </div>
            </div>
          </div> -->
          <!-- <img class="date" src="/images/date_grey_2x.jpg" alt="Red Stars Launch Date"> -->
          <%= image_tag('date_grey_2x', class: "date") %>
        </div>
        <div class="flex-item">
          <div class="clock"></div>
        </div>
      </div>
    </div>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script> -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
<!--     <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/minimal_digital_countdown_plugin/dist/scripts/main.js"></script>
    <script src="/bower_components/moment/moment.min.js"></script> -->
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <!-- <script src="scripts/main.js"></script> -->
    <!-- endbuild -->
  <!-- </body> -->
</html>
