<div class="flex-container" id="main-container" style="display:none">
  <div class="border-wrapper">
    <div class="flex-item">
      <%= image_tag('date_grey_2x', class: "date") %>
    </div>
    <div class="flex-item">
      <div class="clock"></div>
    </div>
  </div>
</div>
