<div class="main-container">
  <div class="container">
    <div class="row pos-abs">
      <div class="sixteen columns">
        <div class="header mt-l pb-xl break pos-rel float-on-top">
          WE ARE
        </div>
      </div>
    </div>

    <!-- Video content -->
    <div class="row ptxh">
      <div class="sixteen columns">
        <div class="videoWrapper">
          <iframe width="840" height="524" src="https://www.youtube.com/embed/5910PyPeheo?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <!-- Page Footer Layout -->
    <footer class="footer sixteen columns">
      <div class="break">RED STARS</div>
    </footer>
  </div>
</div>

<!-- <div class="container" id="masonry-grid"">
  <div class="row ptxh">
    <div class="sixteen columns">
      <div class="gutter-sizer"></div>
      <%# render @posts %>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row ptxh">
    <div class="masonry-grid">
      <div class="masonry-grid-sizer"></div>
      <%= render @posts %>
    </div>
  </div>
</div>
