<div class="main-container">
  <div class="container">
    <div class="row pos-abs">
      <div class="sixteen columns">
        <div class="header mth pb-xl break pos-rel float-on-top">
          WE ARE
        </div>
      </div>
    </div>

    <!-- Video content -->
    <div class="row pts-pc">
      <div class="sixteen columns">
        <div class="videoWrapper">
          <a href="https://vimeo.com/129300668">
            <iframe src="https://player.vimeo.com/video/129300668?autoplay=1&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </a>
        </div>
      </div>
    </div>
    <!-- Page Footer Layout -->
    <div class="row">
      <footer class="footer sixteen columns">
        <div class="mt-l break tlt mbl">REDSTARS</div>
        <noscript>
          <div class="mt-l break mbl">REDSTARS</div>
        </noscript>
      </footer>
    </div>
    <div class="row mth">
      <div class="sixteen columns center-text -mbl mth pth -pbh">
        <a class="center-text button-call-to-action large-text ptl" href="#join-modal" rel="modal:open">Join Us</a>
      </div>
    </div>
    <%= render 'modals/email_sign_up' %>
    <div class="row ptl-pc">
      <div class="masonry-grid">
        <div class="masonry-grid-sizer"></div>
        <%= render [@top_post] + @posts.to_a %>
      </div>
    </div>
  </div>
</div>
