// - - - - - - - - - - - - - - - - - - -
// - - base
// project defaults for base elements - h1-h6, p, a, etc.
body {
    margin: 0;
    padding: 0;
    background-color: black;
    //background-color: $dark-grey;
}

html, body {
    height: 100%;
    width: 100%;
}
