// - - - - - - - - - - - - - - - - - - -
// - - skin
// global skin styles - gradients, colors, box-shadows, etc.


// Colours
$base-color: #E30203;
$complimentary-green: #02B602;
$triad-green: #8ED402;
$complimentary-blue-1: #3BA7A7;
$complimentary-blue-2: #1B9898;
$light-blue: #0EC2FF; // was: #3399ff; 
$grey: #333333;
$grey-pink: #ffcccc;
$dark-grey: #333333;

.border-wrapper {
  border: 2px solid $light-blue;
  /* make it round */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	/* animate */
	animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0px 0px 100px $light-blue;
       -moz-box-shadow: 0px 0px 100px $light-blue;
            box-shadow: 0px 0px 100px $light-blue; /* some variation of blue for the shadow */
  }
  50% {
    -webkit-box-shadow: 0px 0px 10px $light-blue;
       -moz-box-shadow: 0px 0px 10px $light-blue;
            box-shadow: 0px 0px 10px $light-blue; /* some variation of blue for the shadow */
 }
  100% {
    -webkit-box-shadow: 0px 0px 100px $light-blue;
       -moz-box-shadow: 0px 0px 100px $light-blue;
            box-shadow: 0px 0px 100px $light-blue; /* some variation of blue for the shadow */
 }
 
}

.round-corners {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
}
/*
#main-container {
  background-image: image-url("wars_graffiti_logo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
}

.border-wrapper {
  background-color: black;
}
*/