<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <%= render 'layouts/monologue/application/head' %>
</head>
<body>
  <div class="main-container">
    <div class="container">
      <div class="sixteen columns">
        <div class="header mt-l break">
          WE ARE
        </div>
      </div>
      <!-- Video content -->
      <!-- <div class="content twelve columns">
        <div class="videoWrapper">
          <iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div> -->

      <!-- Blog posts -->
      <div class="content twelve columns">
        <%= yield %>
      </div>

    </div>
      <!-- Page Footer Layout -->
      <div class="container">
      <footer class="footer sixteen columns">
        <div class="break">RED STARS</div>
      </footer>
      </div>
  </div>
</body>
</html>
